nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover:not(.active) {
  background-color: #111;
}

nav a .active {
  background-color: #04aa6d;
}
/* Change the link color to #111 (black) on hover */
nav link:hover {
  background-color: #111;
}
.about {
  float: right;
}
.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.post h2 {
  margin-bottom: 8px;
}
.buttons {
  justify-content: space-between;
}
.delete-button,
.like-button {
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #ff6464;
  color: #fff;
}
.like-button {
  background-color: #4caf50;
}
@media screen and (max-width: 370px) {
  .post {
    width: 100%; /* Make the post take full width */
  }

  .buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
.addPost {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
.formAddpost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelAddpost {
  font-weight: bold;
  margin-bottom: 8px;
}

.inputAddpost,
.selectAddpost {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.inputAddpostContent {
  height: 200px;
}
.selectAddpost {
  appearance: none;
  padding-right: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path d="M0 0l6 6 6-6z" fill="%231C1C1C"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
}

.contentError {
  color: #ff6464;
  margin-bottom: 16px;
}

.addPostSubmit,
.addCategSubmit {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addPostSubmit,
.addCategSubmit:hover {
  background-color: #45a049;
}
/*style Add Categorie*/
.addCategDiv {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.addCategForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addCateglabel {
  font-weight: bold;
  margin-bottom: 8px;
}

.addCateginput {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
